table {
    width:100%;
}

td {
    text-align: left;
    width:200px;
    font-size:20px;
}

.td-small {
    text-align: center;
    font-size:14px;
    font-weight: bold;
}

th {
	padding-left: 50px;
    padding: 1rem;
    text-align: center;
    width:200px;
    font-size:25px;
}

.tr-100{
	height:100px;
}
.top{
	padding-left: 50px;
	padding-right: 50px;
}

.content-body{
	height:500px;
	width:100%;
}


.split-btn-100{
	width:100px;
	background-color:"#FFFFFF";
}

.split-btn-150{
	width:150px;
	background-color:"#FFFFFF";
}

.split-btn-200{
	width:200px;
	background-color:"#FFFFFF";
	
}

.filter{
	padding-left: 50px;
	float:left;
	width:20%;
	line-height: 2;
}
.content-right{
	float:left;
	width:70%;
}