table {
    border-collapse: collapse;
    width:100%;
}

td {
    text-align: left;
    width:200px;
    font-size:20px;
}
th {
	padding-left: 50px;
    padding: 1rem;
    text-align: center;
    width:200px;
    font-size:25px;
}

.tr-100{
	height:100px;
}
.top{
	padding-left: 50px;
	padding-right: 50px;
}

.content-body{
	height:500px;
	width:100%;
}

.split-btn{
	width:100px;
}

.split-btn-100{
	width:100px;
}

.split-btn-200{
	width:200px;
}



.filter{
	padding-left: 50px;
	float:left;
	width:20%;
	line-height: 2;
}
.content-right{
	float:left;
	width:70%;
}